#navbar {
  position: fixed;
  top: 0;
  background-color: var(--navbar-background);
  height: 70px;
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: auto;
  z-index: 1;
  scrollbar-color: var(--cart-scroll-color) transparent;
  overflow-x: auto;
  overflow-y: hidden;
}

#navbar #logo {
  height: 40px;
  margin-left: 20px;
}

#navbar .searchbox {
  height: 100px;
  width: 100%;
  border: none;
}

#navbar #searchbox>input {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 35px;
  min-width: 100px;
  padding: 0 10px;
  flex-grow: 1;
  border: none;
  color: var(--black);
}

#navbar #searchbox>input:focus {
  outline: none;
}

#navbar #searchbox>input::placeholder {
  color: var(--dark-gray);
}

#navbar div {
  padding: 5px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  cursor: pointer;
  border: 1px solid var(--navbar-background);
}

#navbar div:hover {
  border: 1px solid var(--white);
}

#navbar #searchbox:hover {
  border: none;
}

#navbar #categories select {
  border: none;
  border-radius: 0;
  cursor: pointer;
}

#navbar #categories select:focus {
  outline: none;
  background-color: var(--navbar-background);
}

#navbar #categories option {
  background-color: var(--option-background);
  color: var(--white);
}

#navbar #search-icon {
  background-color: var(--search-icon-background);
  height: 35px;
  padding: 0 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

#navbar #search-icon i {
  color: var(--black);
}

#navbar #search-icon:hover {
  border: none;
  background-color: var(--search-icon-hover-background);
}

#navbar #cart {
  position: relative;
}

#navbar #cart img {
  height: 30px;
}

#navbar #cart span {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

#navbar #cart #cart-items-count {
  position: absolute;
  left: 22px;
  bottom: 33px;
  font-size: 10pt;
  color: var(--orange);
}

#navbar #customer-service-chat {
  position: relative;
}

#navbar .fa-circle {
  color: var(--red);
  font-size: 8px;
  position: absolute;
  left: 20px;
  top: 10px;
}

#navbar #profile-btns {
  width: 75px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--search-icon-background);
  border-radius: 5px;
  height: 25px;
}

#navbar #profile-btns:hover {
  background-color: var(--search-icon-hover-background);
  border: none;
}

#navbar #profile-btns button {
  background-color: transparent;
  border: none;
}

#navbar .margin-right {
  margin-right: 15px;
}

#navbar #user-greetings {
  display: flex;
  flex-direction: column;
}

#navbar #avatar img {
  border-radius: 50%;
}
