#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--modal-background);
}

#modal-content {
  position: absolute;
  background-color: var(--modal-content-background);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  min-width: 500px;
  width: min-content;
  max-height: 800px;
}

#modal-content h2 {
  max-height: 50px;
  scrollbar-color: var(--cart-scroll-color) transparent;
  overflow-x: hidden;
  overflow-y: scroll;
}

#modal-content h2:hover {
  z-index: 10;
}
