@keyframes chat-slide-in {
  0% {
    transform: translateX(-30vw);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes chat-slide-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(-30vw);
    opacity: 0;
  }
}

#customer-service-chat-window {
  z-index: 1;
  background-color: var(--cart-background);
  position: fixed;
  left: 0;
  top: 70px;
  width: 350px;
  height: 100vh;
  padding: 20px;
  box-shadow: 1px 1px, 0.3em 0 .4em var(--option-background);
}

#customer-service-chat-window.open {
  animation: chat-slide-in 500ms ease-in-out;
}

#customer-service-chat-window.close {
  animation: chat-slide-out 500ms ease-in-out;
}

#customer-service-chat-window .chat-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

#customer-service-chat-window .close-chat-btn i {
  color: var(--red);
  font-size: xxx-large;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#customer-service-chat-window .close-chat-btn i:hover {
  opacity: 0.7;
}

#customer-service-chat-window .chat-body {
  background-color: var(--cart-product-background);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 65vh;
  padding: 10px;
}

#customer-service-chat-window .chat-footer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--cart-delete-btn);
  padding: 10px;
  height: 10vh;
  display: flex;
  justify-content: center;
  position: relative;
}

#customer-service-chat-window .chat-footer textarea {
  resize: none;
  width: 320px;
  border-radius: 5px;
  color: var(--black);
  padding: 10px;
  background-color: var(--chat-input-color);
  scrollbar-color: var(--cart-scroll-color) transparent;
  padding-right: 25px;
}

#customer-service-chat-window .chat-footer textarea:focus {
  outline: none;
}

#customer-service-chat-window .chat-footer .fa-paper-plane {
  position: absolute;
  right: 30px;
  bottom: 20px;
  cursor: pointer;
  color: var(--light-orange);
  font-size: x-large;
}
