@keyframes cart-slide-in {
  0% {
    transform: translateX(30vw);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes cart-slide-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(30vw);
    opacity: 0;
  }
}

#cart-orders {
  background-color: var(--cart-background);
  position: fixed;
  right: 0;
  top: 70px;
  width: 350px;
  height: 100vh;
  border-bottom-left-radius: 5px;
  padding: 20px;
  box-shadow: 1px 1px, -0.3em 0 .4em var(--option-background);
}

#cart-orders.open {
  animation: cart-slide-in 500ms ease-in-out;
}

#cart-orders.close {
  animation: cart-slide-out 500ms ease-in-out;
}

#cart-orders .cart-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

#cart-orders .close-cart-btn i {
  color: var(--red);
  font-size: xxx-large;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

#cart-orders .close-cart-btn i:hover {
  opacity: 0.7;
}

#cart-orders .cart-title .past-orders {
  color: var(--dark-purple);
  border-radius: 5px;
  font-style: italic;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}

#cart-orders .cart-title .past-orders:hover {
  text-decoration: underline;
}
