#cart-orders {
  background-color: var(--cart-background);
  position: fixed;
  right: 0;
  top: 70px;
  width: 350px;
  height: 100vh;
  border-bottom-left-radius: 5px;
  padding: 20px;
  box-shadow: 1px 1px, -0.3em 0 .4em var(--option-background);
}

#cart-orders .cart-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
