.chat-message {
  word-wrap: break-word;
  background-color: var(--other-message-background);
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
  max-width: 70%;
  margin-left: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.chat-message.me {
  background-color: var(--my-message-background);
  align-self: flex-end;
  margin-left: 0;
  margin-right: 5px;
  line-break: anywhere;
}

.chat-message span {
  font-size: small;
}

.chat-message img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.chat-message .message-parts {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
