h2.product-title {
  text-align: center;
}

#product-details {
  .product-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    justify-items: center;
    align-items: center;
  }

  .product-wrapper .product-info {
    margin: 10px;
  }

  .product-wrapper .product-info .product-description {
    color: var(--green);
    font-style: italic;
    width: 300px;
    max-height: 275px;
    scrollbar-color: var(--dark-purple) transparent;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    padding-right: 10px;
    line-break: anywhere;
  }

  .product-wrapper .product-info .product-seller {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
  }

  .product-wrapper .product-info .product-seller-info div {
    color: var(--black);
  }

  .product-wrapper .product-info img {
    box-sizing: border-box;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }

  .product-wrapper .product-info .product-seller-title {
    font-style: italic;
    margin-bottom: 20px;
    text-decoration: underline;
  }

  .product-wrapper .product-category {
    padding: 0 15px;
  }

  .product-wrapper .average-rating i.fa-star {
    color: var(--orange);
  }

  .product-wrapper .product-review-info {
    position: absolute;
    top: 200px;
    left: 0;
    background-color: var(--dark-purple);
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    padding-left: 0;
  }

  .product-wrapper .product-review-info .sticker {
    border-left: 15px solid var(--orange);
    margin-top: -10px;
    margin-bottom: -10px;
    margin-right: 10px;
    height: 60px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .product-wrapper .product-review-info:hover {
    z-index: 1;
  }

  .product-image-magnify {
    position: absolute;
    z-index: 1;
    width: 380px;
    height: 450px;
    right: 10px;
    cursor: none;
    border-left: 1px solid var(--black);
  }

  .image-len {
    box-sizing: border-box;
    box-shadow: -3px -3px 0.8em 1px var(--orange);
    position: absolute;
    border: 1px solid var(--white);
    width: 40px;
    height: 40px;
    left: 130px;
    top: 50px;
  }
}
