:root {
  --white: #FFFFFF;
  --black: #000000;
  --purple: rgb(173, 173, 218);
  --dark-purple: rgb(55, 55, 102);
  --gray: #808080;
  --dark-gray: #999999;
  --light-gray: #CCCCCC;
  --red: #FF5A5F;
  --original-red: red;
  --green: rgb(21, 117, 21);
  --pink: pink;
  --wheat: wheat;
  --orange: orange;
  --light-blue: rgb(185, 222, 247);
  --light-orange: rgb(221, 147, 11);
  --light-yellow: rgb(245, 249, 3);
  --success-color: rgb(10, 133, 10);
  --text-shadow: rgb(198, 198, 153) 1px 0 10px;
  --modal-background: rgba(0, 0, 0, 0.7);
  --modal-content-background: rgb(240, 238, 238);
  --navbar-background: #0F1111;
  --option-background: #2A2F3E;
  --search-icon-background: rgb(241, 168, 33);
  --search-icon-hover-background: rgb(221, 147, 11);
  --product-background: rgb(218, 218, 227);
  --cart-background: rgb(225, 224, 224);
  --cart-product-background: rgb(205, 197, 197);
  --cart-scroll-color: rgb(172, 166, 166);
  --cart-delete-btn: rgb(135, 93, 93);
  --cart-subtotal-btn: rgb(186, 167, 167);
  --html-scroll-color: rgb(156, 144, 144);
  --bookmark-note-background: rgb(214, 210, 210);
  --my-review-background: rgb(244, 209, 209);
  --unsave-color: rgb(3, 124, 3);
  --discontinue-color: rgb(188 37 14);
  --chat-input-color: rgb(225, 224, 224);
  --my-message-background: #0084ff;
  --other-message-background: rgb(105, 85, 85);
  --chat-footer-background: rgb(78, 76, 76);
}

* {
  padding: 0;
  margin: 0;
  font-size: 12pt;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--white);
}

html {
  scrollbar-color: var(--html-scroll-color) var(--navbar-background);
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

body {
  background-color: var(--light-gray);
}

p {
  text-shadow: none;
  font-style: italic;
  letter-spacing: 0.6px;
  color: var(--green);
}

img {
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
  margin: 40px;
}

button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--option-background);
  color: var(--white);
  margin-top: 10px;
  width: fit-content;
}

button[type="submit"]:hover {
  text-decoration: underline;
}

.cursor-normal {
  cursor: auto
}

.cursor-pointer {
  cursor: pointer;
}

.heading {
  font-size: 25pt;
  font-weight: bold;
  word-break: break-word;
  color: var(--black);
}

.subheading {
  font-size: 17pt;
  font-weight: bold;
  word-break: break-word;
  color: var(--black);
}

.alert-success {
  color: var(--success-color);
}

input.disabled {
  opacity: 0.5;
}

input[disabled]:hover {
  cursor: not-allowed;
}

.disabled:hover,
select[disabled]:hover {
  cursor: not-allowed;
}

button.disabled:hover {
  opacity: .5;
  cursor: not-allowed;
}

a,
button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

.hidden {
  display: none;
}

select {
  background-color: inherit;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  justify-content: flex-start;
}

form input {
  padding: 10px;
  background-color: var(--white);
  border-radius: 5px;
  border: none;
  color: var(--black);
  border: 1px solid var(--gray);
}

form input:focus {
  color: var(--black);
  outline: none;
}

form input[type="file"] {
  padding: 10px;
  margin: 0;
  text-align: center;
}

form input[type="file"]::file-selector-button {
  color: var(--white);
  font-style: italic;
  font-size: 11px;
  background-color: var(--option-background);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  text-shadow: var(--text-shadow);
}

form select {
  padding: 10px;
}

form textarea {
  padding: 10px;
}

form .btn-primary {
  border: none;
  margin-top: 20px;
}

form .btn-primary.enabled:hover {
  background-color: transparent;
  color: var(--red);
  border: 1px solid var(--red);
}

form input::placeholder {
  color: var(--black);
  font-style: italic;
  font-size: 10pt;
}

form label {
  color: var(--black);
}

.modal-errors {
  color: var(--red);
}

.box-shadow-red {
  box-shadow: -1px -1px 8px var(--red);
}

.box-shadow-green {
  box-shadow: -1px -1px 8px var(--green);
}

#preview-image {
  position: absolute;
  width: 35px;
  height: 35px;
  bottom: 83px;
  right: 30px;
}

#signup-form #preview-image {
  position: absolute;
  width: 35px;
  height: 35px;
  bottom: 165px;
  right: 30px;
}

#download-link {
  color: var(--green);
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
}

#download-link:hover {
  text-decoration: underline;
}

.line-break {
  border-top: 1px dashed var(--gray);
  width: 100%;
}
