.chat-messages {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 70vh;
  scrollbar-color: var(--cart-scroll-color) transparent;
  overflow-x: hidden;
  overflow-y: auto;
  line-height: 22px;
  word-spacing: 2px;
}
