.cart-product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  border-radius: 5px;
  background-color: var(--cart-product-background);
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

.cart-product .cart-product-image {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-product .cart-product-image img {
  border-radius: 5px;
}

.cart-product .cart-product-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
}

.cart-product .cart-product-name {
  color: var(--black);
}

.cart-product .cart-product-price {
  width: 100%;
  display: flex;
  align-items: flex-start;
  color: var(--black);
}

.cart-product .cart-product-price span {
  color: var(--option-background);
}

.cart-product .price {
  font-size: 17pt;
}

.cart-product .decimal,
.cart-product .dollar-sign {
  font-size: 10pt;
  margin-top: 2px;
  height: 100%;
}

.cart-product .cart-product-delete-btn {
  background-color: var(--cart-delete-btn);
  padding: 5px 10px;
  border-radius: 5px;
}

.cart-product .cart-product-delete-btn:hover {
  text-decoration: underline;
}

.cart-product .cart-product-quantity {
  display: flex;
  gap: 2px;
  background-color: var(--cart-delete-btn);
  border-radius: 5px;
  padding: 2 10px;
  justify-content: center;
  align-items: center;
}

.cart-product .cart-product-quantity i {
  color: var(--white);
  padding: 7px;
}

.cart-product .cart-product-quantity i:hover {
  opacity: 0.7;
}

.cart-product .cart-product-quantity input {
  width: 40px;
  border-radius: 5px;
  border: none;
  text-align: center;
  vertical-align: middle;
  color: var(--black);
}

.cart-product .cart-product-quantity input:focus {
  outline: 3px solid var(--orange);
  text-align: center;
}

.cart-product .cart-product-remaining {
  background-color: var(--light-orange);
  width: fit-content;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  left: 0;
}
